.list {
    background-color: #f9e497;
    width: 200px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    box-shadow: 5px 5px  #880000;

}

li {
    padding-bottom: 5px;
    color: #880000;
}